@media (max-width: 3840px){
    .card{
        margin: 0 auto;
        -webkit-box-shadow: 0px 8px 12px 4px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 8px 12px 4px rgba(0,0,0,0.25);
        box-shadow: 0px 8px 12px 4px rgba(0,0,0,0.25);
    }

    .check-box{
        display: inline;
        margin: 0 auto;
        color: #7910A8 ;
    }
    
    .check-box span{
        align-items: center;
        text-align: center;
        display: inline;
        margin-left: 5px;
        color: #7910A8 ;
    }
    .card-header{
        color: #7910A8;
        margin: 0 auto;
        font-weight: 500;
    }

    .user-register{
        display: flex;
        justify-content: space-between;
    }
    
    .user-register a{
        color: #7910A8;
        text-decoration: none;
        font-family: 'Darker Grotesque';
        font-weight: 400;
    }
    .user-register a:hover{
        color: rgba(194, 80, 247, 0.747);
        font-weight: 600;
    }
    .card-home {
        padding: 30px 0 0 0;
        width: 100%;
        margin: 0 auto;
        font-family: 'Darker Grotesque', ;
    }
    .card-login {
        padding: 30px 0 0 0;
        width: 350px;
        margin: 0 auto;
        font-family: 'Darker Grotesque', ;
    }

    .form-control{
        text-align: center !important;
        color:#7910A8 !important;
        font-family: 'Darker Grotesque', ;
    }

    .btn.btn-lg.btn-info.btn-block {
    background-color: #7910A8;
    font-family: 'Darker Grotesque';
    }
    .btn.btn-lg.btn-info.btn-block:hover {
    background-color: rgb(65, 13, 88);
    }

    :-webkit-input-placeholder {
        color:#7910A8;
        font-family: 'Darker Grotesque' ;
        font-weight: bold;
    }
    .input-placeholder{
        color:#7910A8;
        font-family: 'Darker Grotesque' ;
        font-weight: bold;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #7910A8;  
        font-family: 'Darker Grotesque' ;
        font-weight: bold;
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
        color: #7910A8;  
        font-family: 'Darker Grotesque';
        font-weight: bold;
    }
    
    :-ms-input-placeholder {  
        color: #7910A8;  
        font-family: 'Darker Grotesque';
        font-weight: bold;

    }
    .form-control::placeholder{
        font-weight: bold;
    }
}